input[type="date"] {
    background-color: #194350;
    color: white;
    border-radius: 1em;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    text-align: center;
    outline: none;
}

input[type="button"]::-moz-focus-inner {
    border: 0;
}

input[type="date"]:after {
    content: "\25BC"; 
    color: rgb(255, 255, 255);
    padding: 0 5px;
    display: none;
}

input[type="date"]:hover:after {
    color: #194350;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 20px;
    width: 20%;
    height: 10%;
    color: transparent;
    background: transparent;
}
