/* Datepicker Stylesheet */

.datepicker {
    grid-area: calendar;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datepicker input {
    height: 25px;
    width: 150px;

    background-color: #194350;
    border-radius: 1em;
    border: white;

    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
}

input[type='date']:after {
    content: '\25BC';
    color: rgb(255, 255, 255);
    padding: 0 5px;
    display: none;
}

input[type='date']:hover:after {
    color: var(--team-primary);
}

input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100px;
    height: 100px;
    background: transparent;
}
