.future-log-grid-container {
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        'month1 month2 month3'
        'month4 month5 month6';
}

.future-log-grid-container > div {
    padding: 5px;
    background-color: white;
    margin: 1px;
}

.future {
    font-size: calc(12px + 1.5vw);
    font-style: normal;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

#log .future-log-grid-container {
    display: none;
}

#daily-log .future-log-grid-container {
    display: none;
}

#weekly-log .future-log-grid-container {
    display: none;
}

#monthly-log .future-log-grid-container {
    display: none;
}
