.log-page-grid-container {
    height: 100%;
    overflow-y: hidden;
    margin: 1;
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: 'sidebar main-content';
}

#home .log-page {
    display: none;
}
