/* Style sheet for each different type of log */

/*log size when sidebar is on/off*/
.logSideon {
    position: absolute;
    left: 15.78%;
    right: 1.25%;
    top: 13.15%;
    bottom: 2.69%;
    
    background: var(--log-background-color);
}

.logSideoff{
    position: absolute;
    left: 3.7%;
    right: 3.65%;
    top: 12.87%;
    bottom: 2.04%;
    
    background: var(--log-background-color);
}


/*Divs that hold the individual HTML elements between them, 
each is sized to half of parent div,float used format 
elements side to side*/
.textDivs{
    width:50%;
    height:100%;
    float:left;
}

/*textareas styling, makes borders, sizes to parent div, 
prevents resizing, and outline coloring*/
.textbox{
    resize:none;
    border:5px solid black;
    box-sizing: border-box;
    width:100%;
    height:100%;
    overflow: auto;
    outline: none;
}
