/* Sidebar Stylesheet */

/* CALENDAR STYLESHEET */
@import url(calendar_widget.css);

/* MAIN SIDEBAR STYLING */
.sidebar-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        'calendar'
        'text-format'
        'buttons'
        'log-key';
}

.sidebar {
    grid-area: sidebar;
    background: var(--team-light-blue);
}

/*LOG TABS STYLING */
.log-buttons-container {
    grid-area: buttons;
    display: flex;
    justify-content: center;
}

.tabs-buttonGrp {
    width: 150px;
    height: 50px;
}

.tabs-buttonGrp button {
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid gray;
    padding: 0;
    margin: 0;

    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

/* Change background color of buttons on hover */
.tabs-buttonGrp button:hover {
    background-color: #ddd;
    border-bottom: 2px solid darkgray;
}

/* Create an active/current tablink class */
.tabs-buttonGrp button.active {
    background-color: #ccc;
    border-bottom: 2px solid black;
}

/* Key Buttons */
.key-button-group {
    grid-area: log-key;
    display: block;
    padding: 10%;
}

.key-button-group button {
    padding-top: 10px;
    border: transparent;
    outline: none;
}

.key-button-group button:hover {
    padding-top: 10px;
    background: var(--team-primary);
    color: white;
    border: transparent;
    outline: none;
}

#home .sidebar {
    display: none;
}
