/* Sidebar Stylesheet */

/* CALENDAR STYLESHEET */
@import url(calendar_widget.css);

/* MAIN SIDEBAR STYLING */
.sidebar-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 50px 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        'calendar'
        'text-format'
        'buttons'
        'log-key';
}

.sidebar {
    grid-area: sidebar;
    background: var(--team-light-blue);
}

/*LOG TABS STYLING */
.log-buttons-container {
    grid-area: buttons;
}

.tabs-buttonGrp {
    justify-content: center;
}

.tabs-buttonGrp button {
    border: transparent;
    width: 100%;
    background-color: transparent;
    padding: 12px;
    border-bottom: 2px solid var(--contrast-lines);
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* Change background color of buttons on hover */
.tabs-buttonGrp button:hover {
    background-color: #ddd;
    border-bottom: 2px solid var(--contrast-lines);
    cursor: pointer;
}

#daily-btn {
    border-top: 2px solid var(--contrast-lines);
}

#daily-log #daily-btn {
    background-color: #ddd;
}

#weekly-log #weekly-btn {
    background-color: #ddd;
}

#monthly-log #monthly-btn {
    background-color: #ddd;
}

#future-log #future-btn {
    background-color: #ddd;
}

/* Log Key Buttons */
.log-key {
    display: flex;
    justify-content: center;
    grid-area: log-key;
}

#home .sidebar {
    display: none;
}
