@import url(color_themes.css);

/*headbar style*/
.topnav {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 92%;

    background: var(--team-primary);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    
    color: var(--nav-bar-font-color);
}

.title{
    position: absolute;
    left: 50%;
    top: 17%;
}

#left-arrow{
    position: absolute;
    top: 35%;
    left: 45%;
    background-color: transparent;
    border: none;
}

#right-arrow{
    position: absolute;
    top: 35%;
    right: 41.5%;
    background-color: transparent;
    border: none;
}

#appName{
    position: absolute;
    left: 4%;
    top: 15%;
}

#flamingo-logo{
    float: left;
    padding-left: 1%;
    padding-top: 1%;
    width: 33px;
}

#image{
    width: 5%;
    height: 4%;
}