@import url(color_themes.css);
/* Style sheet for each different type of log */

/* Styling for main */
.weekly-log-grid-container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: 'weekly-page-left weekly-page-right';
}

.monday,
.tuesday,
.wednesday {
    height: calc((100vh - 110px) / 3);
    overflow-y: scroll;
}

.thursday,
.friday,
.saturday,
.sunday {
    height: calc((100vh - 110px) / 4);
    overflow-y: scroll;
}

.weekly-log-grid-container > div > div {
    margin: 1px;
    background-color: white;
}

/* LEFT */
.weekly-log-left-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        'monday'
        'tuesday'
        'wednesday';
}

/* RIGHT */
.weekly-log-right-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        'thursday'
        'friday'
        'saturday'
        'sunday';
}

/* Titles*/
.weekly-log-left-grid > div,
.weekly-log-right-grid > div {
    font-size: calc(12px + 1.5vw);
    font-style: normal;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

/* ROUTING */
#home .weekly-log-grid-container {
    display: none;
}

#future-log .weekly-log-grid-container {
    display: none;
}

#daily-log .weekly-log-grid-container {
    display: none;
}

#monthly-log .weekly-log-grid-container {
    display: none;
}
