/* Datepicker Stylesheet */

#buttons {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -50px;
    margin-left: -125px;
    width: 500px;
    height: 500px;
    align-items: center;

    /* display: flex;
    justify-content: center;*/
}

#search-btn {
    font-family: 'Lato', sans-serif;
    background-color: var(--log-background-color);
    border-radius: 25px;
}

#clear-btn {
    font-family: 'Lato', sans-serif;
    background-color: var(--log-background-color);
    border-radius: 25px;
}

input[type='date'] {
    background-color: var(--log-background-color);
    color: black;
    border-radius: 1em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    outline: none;
}

input[type='button']::-moz-focus-inner {
    border: 0;
}

input[type='date']:after {
    content: '\25BC';
    color: rgb(255, 255, 255);
    padding: 0 5px;
    display: none;
}

input[type='date']:hover:after {
    color: var(--team-primary);
}

/*styling for the calendar icon*/
input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: -20px;
    right: 0;
    bottom: 0;
    /*padding-left: 10px; */
    width: 16%;
    height: 3%;
    color: transparent;
    background: transparent;
}