<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bullet Journal App</title>
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="./datepickerstyle.css" />
    </head>

    <body>
        <main>
            <div id="buttons">
                <input type="date" id="calendar" />
                <button id="search-btn">SEARCH</button>
                <button id="clear-btn">CLEAR</button>
            </div>
        </main>

        <!-- Main Script -->
        <script src="./datepicker.js" type="module"></script>
    </body>
</html>